<!-- <app-root></app-root>
<app-bookcab></app-bookcab>
<app-viewallbookings></app-viewallbookings> -->
<router-outlet></router-outlet>

<!-- 
<html>
<head>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" 
          aria-current="page" 
          routerLink="/home">
          Home</a>
        </li>
        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" 
          routerLink="/bookcab">
          Book a Cab</a>
        </li>
    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" 
          routerLink="/viewallbookings">
          View all Bookings</a>
        </li>
        </ul>
    </div>
  </nav>

  <br>
    <nav>
      <a class="button"
      routerLink="/bookcab"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
      Book a Cab</a> |

    <a class="button"
      routerLink="/viewallbookings"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
      View all Bookings</a>
    </nav>
    <br>
</head>
<body>
  <p>Hello and Welcome to all our Cab Riders</p>
</body> 
</html> -->